@{
    ViewBag.Title = "Inicio";
}
    
<link href="~/Content/moder-business.css" rel="stylesheet">

<link href="~/Content/indesx.css" rel="stylesheet">
<div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
    <ol class="carousel-indicators">
        <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
       
    </ol>
    <div class="carousel-inner" role="listbox">
        <!-- Slide One - Set the background image for this slide in the line below -->
        <div class="carousel-item active" style="background-image: url('https://disofi.cl/wp-content/uploads/2017/06/computer.jpg'">
            
                <div class="middle">
                   <FONT color="white"> <h1>Grandes Ofertas </h1> </FONT> 
                    <hr>
                    <Font color="white"><p>Las 24 Horas del dia</p>   </Font>
                </div>
          
        </div>
        <!-- Slide Two - Set the background image for this slide in the line below -->
        <div class="carousel-item" style="        background-image: url('https://www.suprasoft.es/wp-content/uploads/2014/03/web-design-and-graphic-design-wallpapers.jpg')">
            <div class="carousel-caption d-none d-md-block">
                <h3>El regalo perfecto </h3>
                <p>A solo un click.</p>
            </div>
        </div>
        <!-- Slide Three - Set the background image for this slide in the line below -->
        
    </div>
    <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
    </a>
</div>


<h2>Productos</h2>

<div class="row">
    <div class="col-lg-4 col-sm-6 portfolio-item">
        <div class="card h-100">
            <a href="#"><img class="card-img-top" src="~/img/pro1.jpg "height="250px" alt=""></a>
            <div class="card-body">
                <h4 class="card-title">
                    <a href="#">Huawei P30 Lite 256 GB Azul 256GB 6GB</a>
                </h4>
                <p class="card-text">Huawei P30 Lite Cuenta con una Pantalla de 6.1 pulgadas su triple cámara principal de 48MP+8MP+2MP y su cáramara frontal de 32MP. Bateria de 3340 mAha par larga duracion el P30lite cuenta con huella digital montada en la parte trasera Medidas: 15.2 x 0.7 x 7.2 cm Su procesador Octa-core (Cortex-A73 4x2.2 GHz) logra que tengas una exceperencía completamente diferente</p>
            </div>
            <div class="card-footer">
                <a href="#" class="btn btn-primary">Learn More</a>
            </div>
        </div>
    </div>
    <div class="col-lg-4 col-sm-6 portfolio-item">
        <div class="card h-100">
            <a href="#"><img class="card-img-top" src="~/img/pro3.jpg" alt=""></a>
            <div class="card-body">
                <h4 class="card-title">
                    <a href="#">
                        Control Inalámbrico Xbox One White
                    </a>
                </h4>
                <p class="card-text">
                    ¡Los mejores accesorios Xbox One los podrás recibir en la puerta de tu hogar!

                    Equípate con el Control inalámbrico Xbox Edición Classic White Snow, con un diseño blanco absoluto con un agarre mejorado con mayor comodidad.

                    Disfrtuta de la asignación personalizada de botones y de un rango inalámbrico increible

                    Enchufa cualquier audifono compatible con conectoir de audifonos stereo de 3,5 mm.

                    Incluye tecnología Bluetooth para juegos en PCs y tabletas con Windows.

                    Botones mejor posicionados
                </p>
            </div>
            <div class="card-footer">
                @Html.ActionLink("Ver Detalle", "producto", "Home", new { @class = "btn btn-primary" })
            </div>
        </div>
    </div>
    <div class="col-lg-4 col-sm-6 portfolio-item">
        <div class="card h-100">
            <a href="#"><img class="card-img-top" src="~/img/pro10.jpg" height="260px" alt=""></a>
            <div class="card-body">
                <h4 class="card-title">
                    <a href="#">Hp Pavilion 690-0067c Gaming Desktop 16gb 1 Tb Ryzen 7</a>
                </h4>
                <p class="card-text">
                    Windows 10 Home
                    AMD Ryzen 7 1700 8-Core Processor 3.00GHz
                    16GB DDR4-2666 SDRAM memory (2 x 8GB)
                    AMD Radeon RX 550 graphics card with 4GB GDDR5 dedicated memory
                    1TB 7200RPM SATA hard drive
                </p>
            </div>
            <div class="card-footer">
                <a href="#" class="btn btn-primary">Learn More</a>
            </div>
        </div>
    </div>
   
    <div class="col-lg-4 col-sm-6 portfolio-item">
        <div class="card h-100">
            <a href="#"><img class="card-img-top" src="~/img/pro2.jpg" alt=""></a>
            <div class="card-body">
                <h4 class="card-title">
                    <a href="#">HyperX Pulsefire Surge RGB Mouse para gaming, efectos dinámicos RGB 360</a>
                </h4>
                <p class="card-text">
                    Los anillos de luz brindan efectos dinámicos RGB 360°
                    Sensor Pixart 3389 con DPI nativos de hasta 16, 000
                    Interruptores Omron diseñados para 50 millones de clics
                    Fácil personalización con el software HyperX NGenuity
                    Memoria interna para almacenar personalizaciones.
                </p>
            </div>
            <div class="card-footer">
                <a href="#" class="btn btn-primary">Learn More</a>
            </div>
        </div>
    </div>
    <div class="col-lg-4 col-sm-6 portfolio-item">
        <div class="card h-100">
            <a href="#"><img class="card-img-top" src="~/img/pro4.jpg" alt=""></a>
            <div class="card-body">
                <h4 class="card-title">
                    <a href="#">Control DualShock PlayStation 4 Magma Red</a>
                </h4>
                <p class="card-text">
                    Control compatible con PlayStation 4

                    Panel táctil ubicado en la parte superior del control

                    Cuenta con botón de compartir (Share), puedes enviar capturas de pantalla o transmitir en vivo sin alterar tu partida..
                </p>
            </div>
            <div class="card-footer">
                <a href="#" class="btn btn-primary">Learn More</a>
            </div>
        </div>
    </div>
    <div class="col-lg-4 col-sm-6 portfolio-item">
        <div class="card h-100">
            <a href="#"><img class="card-img-top" src="~/img/pro6.jpg" alt=""></a>
            <div class="card-body">
                <h4 class="card-title">
                    <a href="#">HyperX Cloud Stinger - Audífonos para gaming</a>
                </h4>
                <p class="card-text">Cómodas almohadillas de memory foam, Micrófono con cancelación de ruido que al girar se pone en modo mudo, Compatible con PC, Xbox One, PS4, Nintendo Switch y dispositivos móviles HX-HSCS-BK/NA.</p>
            </div>
            <div class="card-footer">
                <a href="#" class="btn btn-primary">Learn More</a>
            </div>
        </div>
    </div>
</div>

