
@{
    ViewBag.Title = "Producto";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link href="~/Content/producto/estilo.css" rel="stylesheet" type="text/css" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<div class="container">
    <div class="card">
        <div class="container-fliud">
            <div class="wrapper row">
                <div class="preview col-md-6">

                    <div class="preview-pic tab-content">
                        <div class="tab-pane active" id="pic-1"><img src="~/img/vista1.jpg" /></div>
                        <div class="tab-pane" id="pic-2"><img src="~/img/vista2.jpg" /></div>
                        <div class="tab-pane" id="pic-3"><img src="~/img/vista3.jpg" /></div>
                        <div class="tab-pane" id="pic-4"><img src="~/img/vista4.jpg" /></div>

                    </div>
                    <ul class="preview-thumbnail nav nav-tabs">
                        <li class="active"><a data-target="#pic-1" data-toggle="tab"><img src="~/img/vista1.jpg" /></a></li>
                        <li><a data-target="#pic-2" data-toggle="tab"><img src="~/img/vista2.jpg" /></a></li>
                        <li><a data-target="#pic-3" data-toggle="tab"><img src="~/img/vista3.jpg" /></a></li>
                        <li><a data-target="#pic-4" data-toggle="tab"><img src="~/img/vista4.jpg" /></a></li>

                    </ul>

                </div>
                <div class="details col-md-6">
                    <h3 class="product-title">Control de xbox White</h3>
                    <div class="rating">
                        <div class="stars">
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star"></span>
                            <span class="fa fa-star"></span>
                        </div>
                        <span class="review-no">41 reviews</span>
                    </div>
                    <p class="product-description">
                        Compatible con consolas Xbox One, Xbox One S, y Xbox One X
                        Edición White Snow
                        Con agarre y diseño mejorado
                        Equípate con el Control inalámbrico Xbox Edición Classic White Snow, con un diseño blanco absoluto con un agarre mejorado con mayor comodidad
                    </p>
                    <h4 class="price">current price: <span>$1389.00</span></h4>
                    


                    <div class="action">
                        <a href="https://super.walmart.com.mx/videojuegos/control-inalambrico-xbox-one-white/00088984208433?gclid=CjwKCAjwgdX4BRB_EiwAg8O8HZPYM1oeVBUa_52SgcuM4dgxS_jsp7VXt5hrcHcqalZaUzJx1OE9zRoCKnIQAvD_BwE">
                            <button class="add-to-cart btn btn-default" type="button">Ir a tienda</button>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>


</div>
<br />
<br/>
<div class="container">
    <div class="row">
        <div class="table-responsive table-bordered movie-table">
            <table class="table movie-table">
                <thead>
                    <tr class="movie-table-head">
                        <th>Tienda</th>
                        <th>Review</th>
                        <th>Precio</th>
                        <th>Pagina</th>
                    </tr>
                </thead>
                <tbody>

                    <!--row-->
                    <tr class="dark-row">
                        <td>Mercado Libre</td>
                        <td> <span style="color:green;">5</span> /5 </td>
                        <td>$2,199</td>
                        <td><a href="https://articulo.mercadolibre.com.mx/MLM-769228605-control-joystick-microsoft-xbox-one-white-_JM?matt_tool=26199559&matt_word&gclid=CjwKCAjwgdX4BRB_EiwAg8O8HZNJ1JIhr5Y3GGsugE7pTXz4K9Uw54YR9O3hSZWE71nuiUIGIirUkxoCmisQAvD_BwE&quantity=1&variation=53902116265">Mercado libre</a></td>
                    </tr>
                    <!--/.row-->
                    <!--row-->
                    <tr class="light-row">
                        <td>Mercado Libre</td>
                        <td> <span style="color:green;">5</span> /5 </td>
                        <td>$1,835</td>
                        <td><a href="https://articulo.mercadolibre.com.mx/MLM-783110437-control-inalambrico-xbox-one-blanco-essentials-edition-_JM?matt_tool=26199559&matt_word&gclid=CjwKCAjwgdX4BRB_EiwAg8O8HcuLtdpKlHG8V6ZxqbzbK4fEtZdRsA52qcTU_BcTqcJtv9nD1aDZBxoCZGIQAvD_BwE&quantity=1&variation=57578653561">Mercado Libre</a></td>
                    </tr>
                    <!--/.row-->
                    <!--row-->
                    <tr class="dark-row">
                        <td>Chedraui</td>
                        <td> <span style="color:red;">1</span> /5 </td>
                        <td>$1445.00</td>
                        <td><a href="https://www.chedraui.com.mx/Departamentos/Tecnolog%C3%ADa/Videojuegos/Accesorios/Control-Xbox-One-Blanco-con-Dlc-Fornite/p/000000000003644014?epaRT=9531754691&gclid=CjwKCAjwgdX4BRB_EiwAg8O8HQMEw5n4AMnWh3P__cRW7KujnJ2jt-VBxmiLsMHjiaZ8EabRlOyJ7RoC8IEQAvD_BwE&siteName=Sitio+de+Chedraui">Chedraui</a></td>
                    </tr>
                    <!--/.row-->
                    <!--row-->
                   
                    <!--/.row-->



                </tbody>
            </table>
        </div>
    </div>
</div>
<br />
<br />

<div class="container">
    <div class="product-list">
      <div class="row">
        <div class="col-md-3 col-sm-6">
          <div class="white-box">
            <div class="wishlist-icon">
              <a href="javascript:void(0);"><img src="https://pngimage.net/wp-content/uploads/2018/06/wishlist-icon-png-3.png" /></a>
            </div>
            <div class="product-img">
              <img src="~/img/vistapro1.jpg">
            </div>
            <div class="product-bottom">
                <div class="product-name">Control de xbox clasico</div>
              <div class="price">
                <span class="rupee-icon">$</span> 1,200.00 
              </div>
              <a href="#" class="blue-btn">Add to cart</a>
            </div>
          </div>
        </div>
        <div class="col-md-3 col-sm-6">
          <div class="white-box">
            <div class="wishlist-icon">
              <a href="javascript:void(0);"><img src="https://static.thenounproject.com/png/635650-200.png" /></a>
            </div>
            <div class="product-img">
              <img src="~/img/vistapro2.jpg">
            </div>
            <div class="product-bottom">
                <div class="product-name">Control Inalámbrico Xbox One Gris Claro</div>
              <div class="price">
                  <span class="rupee-icon">$</span> 1,899.00
              </div>
              <a href="https://www.walmart.com.mx/videojuegos/xbox-one/accesorios/control-inalambrico-xbox-one-gris-claro_00088984219596?gclid=CjwKCAjwgdX4BRB_EiwAg8O8HRUTDGHU9GVmKToHiC24CSVJSaZchJk2DXCzqdK0BjkN6orhQa8CXBoC_LUQAvD_BwE" class="blue-btn">Ir a tienda</a>
            </div>
          </div>
        </div>
        <div class="col-md-3 col-sm-6">
          <div class="white-box">
            <div class="wishlist-icon">
              <a href="javascript:void(0);"><img src="https://static.thenounproject.com/png/635650-200.png" /></a>
            </div>
            <div class="product-img">
              <img src="~/img/vistapro3.jpg">
            </div>
            <div class="product-bottom">
                <div class="product-name">Control joystick inalámbrico Microsoft Xbox One sport blue special edition</div>
                <div class="price">
                    <span class="rupee-icon">$</span>2,199.00

                </div>
              <a href="https://www.mercadolibre.com.mx/control-joystick-inalambrico-microsoft-xbox-one-sport-blue-special-edition/p/MLM15459007?matt_tool=26199559&matt_word=&gclid=CjwKCAjwgdX4BRB_EiwAg8O8HY05w62y3r5hCqSEW9AbDNGVP1_7dkpzXi2N1zCumqgaHIyar1ZP1hoCLn0QAvD_BwE" class="blue-btn">Ir a tienda</a>
            </div>
          </div>
        </div>
        <div class="col-md-3 col-sm-6">
          <div class="white-box">
            <div class="wishlist-icon">
              <a href="javascript:void(0);"><img src="https://static.thenounproject.com/png/635650-200.png" /></a>
            </div>
            <div class="product-img">
              <img src="~/img/vistapro4.jpg">
            </div>
            <div class="product-bottom">
                <div class="product-name">Control Xbox One Oficial Microsoft Midnight Forces, Sincaja</div>
                <div class="price">
                    <span class="rupee-icon">$</span>1,950.00
                   
                </div>
              <a href="https://articulo.mercadolibre.com.mx/MLM-794603505-control-xbox-one-oficial-microsoft-midnight-forces-sincaja-_JM?matt_tool=26199559&matt_word&gclid=CjwKCAjwgdX4BRB_EiwAg8O8Hc2hnTpy3wOle93N62kKr0iw7V6GBa-3f9TIC1ljXipwGMZm8n8g4xoCOh0QAvD_BwE&quantity=1&variation=60107903166&onAttributesExp=true" class="blue-btn">Ir a tienda</a>
            </div>
          </div>
        </div>
      </div>
    </div>
    

</div>

    <script src="~/Scripts/producto/producto.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="	sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
