
@{
    ViewBag.Title = "Producto";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link href="~/Content/producto/estilo.css" rel="stylesheet" type="text/css" />

<div class="container">
    <div class="card">
        <div class="container-fliud">
            <div class="wrapper row">
                <div class="preview col-md-6">

                    <div class="preview-pic tab-content">
                        <div class="tab-pane active" id="pic-1"><img src="~/img/vista1.jpg" /></div>
                        <div class="tab-pane" id="pic-2"><img src="~/img/vista2.jpg" /></div>
                        <div class="tab-pane" id="pic-3"><img src="~/img/vista3.jpg" /></div>
                        <div class="tab-pane" id="pic-4"><img src="~/img/vista4.jpg" /></div>

                    </div>
                    <ul class="preview-thumbnail nav nav-tabs">
                        <li class="active"><a data-target="#pic-1" data-toggle="tab"><img src="~/img/vista1.jpg" /></a></li>
                        <li><a data-target="#pic-2" data-toggle="tab"><img src="~/img/vista2.jpg" /></a></li>
                        <li><a data-target="#pic-3" data-toggle="tab"><img src="~/img/vista3.jpg" /></a></li>
                        <li><a data-target="#pic-4" data-toggle="tab"><img src="~/img/vista4.jpg" /></a></li>

                    </ul>

                </div>
                <div class="details col-md-6">
                    <h3 class="product-title">Control de xbox</h3>
                    <div class="rating">
                        <div class="stars">
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star"></span>
                            <span class="fa fa-star"></span>
                        </div>
                        <span class="review-no">41 reviews</span>
                    </div>
                    <p class="product-description">Suspendisse quos? Tempus cras iure temporibus? Eu laudantium cubilia sem sem! Repudiandae et! Massa senectus enim minim sociosqu delectus posuere.</p>
                    <h4 class="price">current price: <span>$180</span></h4>
                    <p class="vote"><strong>91%</strong> of buyers enjoyed this product! <strong>(87 votes)</strong></p>


                    <div class="action">
                        <button class="add-to-cart btn btn-default" type="button">add to cart</button>

                    </div>
                </div>
            </div>
        </div>
    </div>


</div>
<br />
<br />

<div class="container">
    <div class="product-list">
      <div class="row">
        <div class="col-md-3 col-sm-6">
          <div class="white-box">
            <div class="wishlist-icon">
              <a href="javascript:void(0);"><img src="https://pngimage.net/wp-content/uploads/2018/06/wishlist-icon-png-3.png" /></a>
            </div>
            <div class="product-img">
              <img src="~/img/vistapro1.jpg">
            </div>
            <div class="product-bottom">
              <div class="product-name">Asus X552CL-SX019D Laptop</div>
              <div class="price">
                <span class="rupee-icon">₹</span> 32,000 
              </div>
              <a href="#" class="blue-btn">Add to cart</a>
            </div>
          </div>
        </div>
        <div class="col-md-3 col-sm-6">
          <div class="white-box">
            <div class="wishlist-icon">
              <a href="javascript:void(0);"><img src="https://static.thenounproject.com/png/635650-200.png" /></a>
            </div>
            <div class="product-img">
              <img src="~/img/vistapro2.jpg">
            </div>
            <div class="product-bottom">
              <div class="product-name">ASUS X507 Core i5 - 8th Gen 15.6"</div>
              <div class="price">
                <span class="rupee-icon">₹</span> 30,000 
              </div>
              <a href="#" class="blue-btn">Add to cart</a>
            </div>
          </div>
        </div>
        <div class="col-md-3 col-sm-6">
          <div class="white-box">
            <div class="wishlist-icon">
              <a href="javascript:void(0);"><img src="https://static.thenounproject.com/png/635650-200.png" /></a>
            </div>
            <div class="product-img">
              <img src="~/img/vistapro3.jpg">
            </div>
            <div class="product-bottom">
              <div class="product-name">ASUS VivoBook S400CA</div>
              <div class="price">
                <span class="rupee-icon">₹</span> 45,000 
                <span class="line-through"><span class="rupee-icon">₹</span> 50,000</span>
              </div>
              <a href="#" class="blue-btn">Add to cart</a>
            </div>
          </div>
        </div>
        <div class="col-md-3 col-sm-6">
          <div class="white-box">
            <div class="wishlist-icon">
              <a href="javascript:void(0);"><img src="https://static.thenounproject.com/png/635650-200.png" /></a>
            </div>
            <div class="product-img">
              <img src="~/img/vistapro4.jpg">
            </div>
            <div class="product-bottom">
              <div class="product-name">Asus laptops</div>
              <div class="price">
                <span class="rupee-icon">₹</span> 50,000 
                <span class="line-through"><span class="rupee-icon">₹</span>  60,000</span>
              </div>
              <a href="#" class="blue-btn">Add to cart</a>
            </div>
          </div>
        </div>
      </div>
    </div>
    

</div>

    <script src="~/Scripts/producto/producto.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="	sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
