
@{
    ViewBag.Title = "Tiendasonline";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Tiendasonline</h2>

<h2>Productos</h2>

<div id="myBtnContainer">
    <button class="btn active" onclick="filterSelection('all')"> Todos los productos</button>
    <button class="btn" onclick="filterSelection('cars')"> Videojuegos</button>
    <button class="btn" onclick="filterSelection('animals')"> Telefonia</button>
    <button class="btn" onclick="filterSelection('fruits')"> Computadoras</button>
  
</div>

<div class="container">
    <div class="filterDiv cars">Consolas</div>
   
    <div class="filterDiv cars">Controles</div>
  
    <div class="filterDiv cars animals">Accesorios</div>
  
    <div class="filterDiv animals">Celulares</div>
    <div class="filterDiv animals">audifonos</div>
    <div class="filterDiv fruits">CPU</div>
    <div class="filterDiv fruits ">Teclados</div>
    <div class="filterDiv fruits">Monitores</div>
    <div class="filterDiv fruits">Mouse</div>
    <div class="filterDiv animals">Protectores</div>
</div>

